-- Make finishedGoodId optional
ALTER TABLE "sales_order_items"
  ALTER COLUMN "finishedGoodId" DROP NOT NULL;

-- Add rawMaterialId column
ALTER TABLE "sales_order_items"
  ADD COLUMN "rawMaterialId" TEXT;

-- Add foreign key constraint to raw_materials(id)
ALTER TABLE "sales_order_items"
  ADD CONSTRAINT "sales_order_items_rawMaterialId_fkey"
  FOREIGN KEY ("rawMaterialId") REFERENCES "raw_materials"("id") ON DELETE SET NULL;
